<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "XIE GUANGZHI", '/home_cn', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "主页",    '/home_cn' %></li>
          <li><%= link_to "学历",    '/education_cn' %></li>
          <li><%= link_to "工作", '/experience_cn' %></li>
          <li><%= link_to "能力", '/skills_cn' %></li>
          <li><%= link_to "爱好", '/hobbies_cn' %></li>
          <li><%= link_to "关于", '/about_cn' %></li>
          <li><%= link_to "English", '/' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>