<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "XIE GUANGZHI", '/', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    '/' %></li>
          <li><%= link_to "Education",    '/education' %></li>
          <li><%= link_to "Experience", '/experience' %></li>
          <li><%= link_to "Skills", '/skills' %></li>
          <li><%= link_to "Hobbies", '/hobbies' %></li>
          <li><%= link_to "About", '/about' %></li>
          <li><%= link_to "中文版", '/home_cn' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>